@model Sky.Models.Order

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thành công";
}

<div class="d-flex justify-content-center row my-5">
    <div class="col-lg-6 mt-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="m-0 font-weight-bold text-center">
                    <i class="fas fa-check-circle text-success fa-3x"></i>
                    <h4 class="text-center mt-3">Đặt hàng thành công</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center my-2 h6">
                    Mã đơn hàng của bạn là <strong>@ViewBag.text</strong>
                </div>
                <div class="text-center my-2 h6">
                    <i class="fas fa-exclamation-circle"></i>
                    Vui lòng kiểm tra lại thông tin, bạn có thể chỉnh sửa đơn hàng khi đơn hàng chưa được xác nhận
                </div>

                <div class="text-center my-2">
                    <span class="text-xs">Tự động chuyển đến trang đơn hàng của bạn sau <label id="countdown"></label>s </span>
                    <br />
                    <a class="btn btn-sm btn-primary text-white" id="btn-go"
                       onclick="success('@Url.Action("Index", "Order", new { searchString = ViewBag.text}, Context.Request.Scheme)')">
                        Đi ngay <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-grow spinner-grow-sm text-primary mx-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-success mx-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-danger mx-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-warning mx-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-info mx-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden value="@ViewBag.text" id="orderid" />
@section Scripts{ 
    <script>
        $(document).ready(function () {
            var time = 10;
            var x = setInterval(function () {
                if (time >= 0) {
                    $('#countdown').html(time);
                    time--;
                   
                }
            }, 1000);

            setTimeout(function () {
                $("#btn-go").click();
            }, 11000);
        })
    </script>
}

