

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Home/_PanelPartial.cshtml" />

<div class="card shadow my-4" id="card-view">
    <!-- Card Header - Accordion -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Xem nhiều nhất</h5>
        <div class="dropdown no-arrow d-inline">
            <a class="btn btn-sm btn-primary btn-circle text-white" id="show-view"
               onclick="showDataView('@Url.Action("BestView", "Home", null, Context.Request.Scheme)')">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="btn btn-success btn-sm btn-circle" href="#">
                <i class="fas fa-forward fa-fw"></i>
            </a>
        </div>
    </div>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseView" style="">
        <div class="card-body">

        </div>
    </div>
</div>

<div class="card shadow my-4" id="card-sale">
    <!-- Card Header - Accordion -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Bán chạy nhất</h5>
        <div class="dropdown no-arrow d-inline">
            <a class="btn btn-sm btn-primary btn-circle text-white" id="show-sale"
               onclick="showDataSale('@Url.Action("BestSale", "Home", null, Context.Request.Scheme)')">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="btn btn-success btn-sm btn-circle" href="#">
                <i class="fas fa-forward fa-fw"></i>
            </a>
        </div>
    </div>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseView" style="">
        <div class="card-body">
            
        </div>
    </div>
</div>

<div class="card shadow my-4" id="card-favo">
    <!-- Card Header - Accordion -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-primary">Yêu thích nhất</h5>
        <div class="dropdown no-arrow d-inline">
            <a class="btn btn-sm btn-primary btn-circle text-white" id="show-favo"
               onclick="showDataFavo('@Url.Action("BestFavorite", "Home", null, Context.Request.Scheme)')">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="btn btn-success btn-sm btn-circle" href="#">
                <i class="fas fa-forward fa-fw"></i>
            </a>
        </div>
    </div>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseView" style="">
        <div class="card-body">

        </div>
    </div>
</div>


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#show-view").click();
            $("#show-sale").click();
            $("#show-favo").click();
        });
    </script>
}
