@page 
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

<h1>@ViewData["Title"]</h1>
<h2>Cảm ơn bạn đã xác nhận email, từ bây giờ bạn có thể đăng nhập thành công</h2>

<br>
<br>
<a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt mr-2"></i>Đăng nhập ngay</a>