@page "/ForgotPassword/"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@

<div class="row">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/logo/cat-forgot.jpg" style="height:480px" />
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu?</h1>
                <p class="mb-4">
                    Chúng tôi rất tiếc khi bạn quên mật khẩu. 
                    Hãy điền thông tin của bạn vào đây, chúng tôi sẽ gửi bạn đường dẫn để đặt lại mật khẩu.
                </p>
            </div>
            <form method="post" class="user">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Input.Email"></label>*@
                    <input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Địa chỉ Email ...">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Đặt lại mật khẩu</button>
            </form>

            <hr>
            <div class="text-center">
                <a class="small" asp-page="./Login">Đã có tài khoản, hãy đăng nhập</a>
            </div>
            <div class="text-center">
                <a class="small" asp-page="./Register">Chưa có tài khoản, đăng ký mới</a>
            </div>
            <br>
            <div class="text-center text-lg">
                <a class="btn rounded-pill px-3 btn-sm btn-success" asp-controller="Home" asp-action="Index">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
