@model Sky.Models.Type

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h4>Bạn có chắc chắn muốn xóa loại sản phẩm "@Model.TypeName" không?</h4>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="TypeId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
    </form>
</div>
